.sosmed {
	width: 3vw;
	padding-right: 5px;
}
.about {
	font-size: 5vw;
	position: relative;
	/* margin-top: 200px; */
}
.au{
	animation: mymove 2s forwards ;
}
/* .teamwork {
	margin-top: 6vw;
} */
.allabout{
	margin-bottom: 20vw;
}
.our {
	font-size: 4vw;
	position: relative;
	display: inline-block;
	background-color: var(--brand-color);
	transform: skewX(-15deg);
	height: 5vw;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
}
.bio {
	margin-top: 10px;
	animation-delay: inherit;
}
.def {
	margin-top: 3vw;
}
.info {
	margin-top: 20vw;
}
.all {
	margin-top: 120px;
}


@keyframes mymove {
	from {
		left: -100%;
	}
	to {
		left: 0%;
	}
}
<<<<<<< HEAD

/* @media screen and (max-width: 600px) {
	.all{
		margin-top: 50px;
	}
	.allabout{
		margin-bottom: 10vw;
	} */
/* } */
=======
>>>>>>> 12be4436a527f92e5556ae4867c6012950579a41
