.sosmed {
	width: 3vw;
	padding-right: 5px;
}
.about {
	font-size: 5vw;
	position: relative;
	/* margin-top: 200px; */
}
.animation-tittle{
	animation: tittle-move 4s forwards ;
}
.animation-text{
	font-size: 1.5vw;
	animation: text-move 4s forwards ;
}
.allabout{
	margin-bottom: 20vw;
}
.our {
	font-size: 4vw;
	position: relative;
	display: inline-block;
	background-color: var(--brand-color);
	transform: skewX(-15deg);
	height: 5vw;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
}
.bio {
	margin-top: 10px;
	animation-delay: inherit;
}
.slogan{
	font-size: 1.3vw;
}
.def {
	height: 10vw;
	margin-top: 3vw;
}
.info {
	margin-top: 20vw;
}


@keyframes tittle-move {
	from {
		left: -100%;
	}
	to {
		left: 0%;
	}
}
@keyframes text-move {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@media screen and (max-width: 600px) {
	.teamwork {
		padding-right: 8vw;
		margin-top:20vh;
		width:80%;
	}
	.all{
		margin-top: 50px;
	}
	.allabout{
		margin-bottom: 10vw;
	}
	
}
