:root {
    --brand-color:#1e3069  ;
    --brand-color-hover : #00196d;
    --second-brand-color: #00ddf3;
    --background-color: #f5f7fa;
    --blue-background-color : #D1E7FF;
}
body {
    background-color: var(--background-color);
}

.myBtn{
    height:5.5vh;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: var(--brand-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--brand-color-hover);
}
::-webkit-scrollbar-thumb:horizontal {
    visibility: hidden;
}
.preloading img{
    width:100%;
}
.preloading .progress-bar, .preloading .progress{
    height:1vh;
}
.img-width {
    width: 70%;
}
h3 {
    font-size: 2.24vw;
    font-weight: bolder;
}
.wrapper p{
    font-size:1.3vw;
}
.navbar {
    background-color: #fff;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
#home {
    padding-top: 2.5rem;
    background-color: var(--blue-background-color);
}

/* arrow bottom */
.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow:hover{
    cursor:pointer;
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/*  */

.text-garis {
    border-bottom: 2px solid var(--brand-color);
    width: fit-content;
}
.tebal-sedang {
    font-weight: bold;
}
.caption-title {
    margin-top: 5vh;
}
.caption-full {
    font-size: 1.5vw;
}
.pdb {
    margin-bottom: 80px;
}
/* .learn-more{
    margin-top:14vh;
} */
.text-highlight {
    position: absolute;
    display: inline-block;
    background-color: var(--brand-color);
    transform: skewX(-15deg);
    height: 3.4vw;
    color: white;
}
.caption-title h3:nth-child(2) {
    margin-left: 2.1vw;
}
.text-animation {
    font-weight: bolder;
    color: var(--brand-color);
}
/* activity */
#activity-container{
    background-color: var(--blue-background-color);
}
/* cards */
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 15rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card .box {
    height: 2rem;
    width: 2rem;
    margin: 0.8rem 0 0 0.8rem;
}

/* footer */
.footer-top {
    background-color: var(--brand-color);
    color: #fff;
}
.uk-text {
    font-size: 2vw;
}
.uk-text-desc {
    font-size: 1.5vw;
}

/* for DOM manipulation */
.hidden {
    display: none;
    transition: 1s;
}

/* preloading */
.preloading {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

/* scroll-up btn */

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--brand-color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999999999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
/* Modal */

.modal-body {
    overflow: hidden;
}
.text-active{
    color: var(--brand-color);
    cursor:pointer;
}
.login, .sign-up {
    height: 50vh;
}
.progress-box {
    width: 100%;
    margin: 0 auto;
}
.progress-signup,
.progress-signup-behind {
    margin:0 auto;
    height: 1%;
    position: absolute;
    top : 48;
}
.progress-signup {
    width: 0%;
    transition: 1s;
    z-index: 7;
}
.progress-signup-behind {
    width: 90%;
    z-index: 5;
}
.circle-box{
    width:100%;
    margin:0 auto;
}
.circle {
    height: 1.5vh;
    width: 1.5vh;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    z-index:999999;
}

.signup form {
    position: absolute;
    left: 0;
    transition: 1s;
}
.sign-up .phone-number input[type=text]:first-child{
    width:15%;
}
.sign-up .phone-number input[type=text]:nth-child(2){
    width:80%;
}
.btn-click {
    width: 30%;
    height: 6vh;
}
.but {
    width: 40%;
}
.bit {
    width: 90%;
    padding-left: 10%;
}
.btn-active {
    background-color: var(--brand-color);
    color: #fff;
}
.btn-active:hover{
    background-color: var(--brand-color-hover);
    color: #fff;
}
.second-btn-active{
    background-color: none;
    color : var(--brand-color);
    border:1px solid var(--brand-color);
}
.second-btn-active:hover{
    background-color: var(--brand-color);
    color:#fff;
    cursor:pointer;
}
.bg-muted {
    background-color: #c4c4c4;
}

.signup-page-1,
.signup-page-2,
.signup-page-3,
.signup-page-4 {
    position: absolute;
    top: 50;
    width: 90%;
    padding-left: 5%;
}
.signup-page-2,
.signup-page-3,
.signup-page-4 {
    left: 500;
}

/* Navbar Animasi */
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.animated-icon1 span {
    background: var(--brand-color);
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
@media screen and (min-width : 1080px){
    #home {
        padding:6rem;
        height: 85vh;
    }
}
/* Tampilan Hp */
@media screen and (max-width: 600px) {
    .preloading img{
        width:30%;
    }
    #home{
        height:100vh;
    }
    .caption-box h3{
        font-size:100%;
    }
    .caption-box .text-highlight{
        height:6vw;
    }
    .caption-box p{
        font-size:200%;
    }
    .svg-icon-banner{
        width:95%;
    }
    .fs-text {
        font-size: 8px;
    }
    .fs-text-c {
        font-size: 10px;
        font-weight: bold;
    }
    .icon-box {
        height: 20px;
        width: 20px;
        margin: 0.8rem 0 0 0.8rem;
    }
    .btn-click {
        font-size: 6px;
        width: 30%;
        height: 3vh;
    }
    .pdb {
        margin-bottom: 20px;
    }
}
